<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Films</h1>


<ul>
    {% for film in films %}

        <li>
            <p>{{ film.id }}</p>
            <p>Name : {{ film.name }}</p>
            <p>Description : {{ film.despriction}}</p>
            <p>Actor :{{ film.actor.name}}</p>
        </li>

    {% endfor %}

</ul>
</body>
</html>